body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: #333;
}

.navbar {
  background-color: #036b70;
}

.category-aktif {
  background-color: #036b70;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
}